tunnel: replace_with_tunnel_uuid
credentials-file: /etc/cloudflared/replace_with_tunnel_uuid.json

ingress:
  - hostname: auth.erp007.xyz
    service: http://keycloak:8080

  - hostname: registry.erp007.xyz
    service: https://host.docker.internal:443
    originRequest:
      noTLSVerify: true

  - hostname: jenkins.erp007.xyz
    service: http://erp-jenkins:8080

  - hostname: rabbit.erp007.xyz
    service: http://rabbitmq:15672

  - hostname: erp007.xyz
    service: http://nginx:80

  - hostname: www.erp007.xyz
    service: http://nginx:80

  - hostname: ssh.erp007.xyz
    service: ssh://host.docker.internal:22

  - service: http_status:404
